In [238]:
import pandas as pd

In [239]:
movies = pd.read_csv('tmdb_5000_movies.csv')
links = pd.read_csv('links.csv')

In [241]:
links.rename(columns={'tmdbId': 'id'}, inplace=True)

In [243]:
movies = movies.merge(links[['movieId', 'id']], on = 'id', how = 'left')

In [245]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movieId
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,72998.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,53125.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,136020.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,91529.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,93363.0

In [250]:
movies.isna()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movieId
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4800,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4801,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
4802,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4803,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [247]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4804 entries, 0 to 4803
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4804 non-null   int64
 1   genres                4804 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4804 non-null   int64
 4   keywords              4804 non-null   object
 5   original_language     4804 non-null   object
 6   original_title        4804 non-null   object
 7   overview              4801 non-null   object
 8   popularity            4804 non-null   float64
 9   production_companies  4804 non-null   object
 10  production_countries  4804 non-null   object
 11  release_date          4803 non-null   object
 12  revenue               4804 non-null   int64
 13  runtime               4802 non-null   float64
 14  spoken_languages      4804 non-null   object
 15  status                4804 non-null   object
 16  tagline               3960 non-null   object
 17  title                 4804 non-null   object
 18  vote_average          4804 non-null   float64
 19  vote_count            4804 non-null   int64
 20  movieId               3537 non-null   float64
dtypes: float64(4), int64(4), object(13)
memory usage: 825.7+ KB

In [248]:
movies.shape

(4804, 21)

In [251]:
movies.to_csv('movies.csv')

In [253]:
from google.colab import files

In [254]:
files.download('movies.csv')